Repository nminaian/keithley_daq: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync, fawltydeps-src, fawltydeps-docs, fawltydeps-scripts, fawltydeps-tests, pytest-fast-only

.pre-commit-config.yaml:

exclude: |
  (?x)^(
    \.copier-answers\.yml
  $)
ci:
  skip:
    - "sync"
    - "fawltydeps-src"
    - "fawltydeps-docs"
    - "fawltydeps-scripts"
    - "fawltydeps-tests"
    - "pytest-fast-only"
  autoupdate_schedule: "quarterly"
default_install_hook_types:
  - pre-commit
  - post-checkout # sync
repos:
  - repo: "meta"
    hooks:
      # ? Enable this to ensure each hook runs against at least one file
      # - id: "check-hooks-apply"
      - id: "check-useless-excludes"
  - repo: "local"
    hooks:
      - id: "sync"
        name: "sync"
        stages:
          - "pre-commit"
          - "post-checkout"
        pass_filenames: false
        language: "system"
        entry: |
          pwsh -Command ". scripts/Initialize-Shell.ps1; scripts/Sync-Py.ps1"
        exclude: |
          (?x)^(
            lock.*\.json
          $)
      - id: "fawltydeps-src"
        name: "fawltydeps-src"
        pass_filenames: false
        language: "system"
        entry: |
          pwsh -Command ". scripts/Initialize-Shell.ps1; fawltydeps --config-file pyproject.toml"
        files: |
          (?x)^(
            pyproject.toml
            |src/.*$
          )$
      - id: "fawltydeps-docs"
        name: "fawltydeps-docs"
        pass_filenames: false
        language: "system"
        files: "^docs/.*$"
        entry: |
          pwsh -Command ". scripts/Initialize-Shell.ps1; fawltydeps --config-file docs/pyproject.toml"
      - id: "fawltydeps-scripts"
        name: "fawltydeps-scripts"
        pass_filenames: false
        language: "system"
        files: "^scripts/.*$"
        entry: |
          pwsh -Command ". scripts/Initialize-Shell.ps1; fawltydeps --config-file scripts/pyproject.toml"
      - id: "fawltydeps-tests"
        name: "fawltydeps-tests"
        pass_filenames: false
        language: "system"
        files: "^tests/.*$"
        entry: |
          pwsh -Command ". scripts/Initialize-Shell.ps1; fawltydeps --config-file tests/pyproject.toml"
      - id: "pytest-fast-only"
        name: "pytest-fast-only"
        pass_filenames: false
        language: "system"
        entry: |
          pwsh -Command ". scripts/Initialize-Shell.ps1; pytest -m 'not slow' --suppress-no-test-exit-code"
        files: |
          (?x)^(
            .*/pyproject\.toml
            |docs/.*
            |requirements/.*
            |scripts/.*
            |src/.*
            |tests/.*
          )$
  - repo: "https://github.com/pre-commit/pre-commit-hooks"
    rev: "v4.6.0"
    hooks:
      - id: "end-of-file-fixer"
      - id: "trailing-whitespace"
  - repo: "https://github.com/DavidAnson/markdownlint-cli2"
    rev: "v0.13.0"
    hooks:
      - id: "markdownlint-cli2"
  - repo: "https://github.com/srstevenson/nb-clean"
    rev: "3.3.0"
    hooks:
      - id: "nb-clean"
        args:
          - "--remove-empty-cells"
          - "--preserve-notebook-metadata"
          - "--preserve-cell-metadata"
          - "tags"
          - "--"
        files: |
          (?x)^(
            docs/.*
            |src/.*
            |tests/.*
          )$
  - repo: "https://github.com/charliermarsh/ruff-pre-commit"
    rev: "v0.4.8"
    hooks:
      - id: "ruff"
        args: ["--extend-fixable", "PIE790"]
        types_or: ["python", "pyi", "jupyter"]
      - id: "ruff-format"
        types_or: ["python", "pyi", "jupyter"]

Fix setup
  scripts/Common.ps1
Due: sync, fawltydeps-scripts, pytest-fast-only

requirements and power measurement script edits
  Data.csv
  lock.json
  pyproject.toml
  requirements/requirements.txt
  src/keithley_daq/measure_power.py
Due: sync, fawltydeps-src, pytest-fast-only

adding multichannel power measurement
  src/keithley_daq/measure_power.py
Due: sync, fawltydeps-src, pytest-fast-only

editing measure_power
  Data.csv
  src/keithley_daq/measure_power.py
Due: sync, fawltydeps-src, pytest-fast-only

Adding multichannel power measurements - fixing unequal index length Co-authored-by: Blake Naccarato <blakeNaccarato@users.noreply.github.com>
  src/keithley_daq/measure_power.py
  src/keithley_daq/test.ipynb
Due: sync, fawltydeps-src, pytest-fast-only

Update template digest to 86fa90762e8306bf53692cb08d5f30bccc2e65f5
  .copier-answers.yml
  .github/workflows/ci.yml
  .github/workflows/high.yml
  scripts/keithley_daq_tools/sync.py
Due: sync, fawltydeps-scripts, pytest-fast-only

Fix recently-introduced errors
  pyproject.toml
  src/keithley_daq/test.ipynb
Due: sync, fawltydeps-src, pytest-fast-only

Deactivate dependency updates
  .copier-answers.yml
  .renovaterc.json
Due: sync

Sync with template
  .copier-answers.yml
  pyproject.toml
Due: sync, fawltydeps-src

Sync and lock highest dependencies
  lock-high.json
Due: none

Pasted Animation code in power measurement
  src/keithley_daq/measure_power.py
Due: sync, fawltydeps-src, pytest-fast-only

Updated code for reading voltage and making an animation of 5 rectangles
  src/keithley_daq/measure_voltage_and_real_time_animation.py
  src/keithley_daq/real_time_V_matrix_animation.py
Due: sync, fawltydeps-src, pytest-fast-only

Updated for 2 gels
  src/keithley_daq/real_time_V_matrix_animation.py
Due: sync, fawltydeps-src, pytest-fast-only

Introduce main function
  .pre-commit-config.yaml
  pyproject.toml
  src/keithley_daq/real_time_V_matrix_animation.py
Due: sync, fawltydeps-src, pytest-fast-only

Move instrument data routine into main
  src/keithley_daq/measure_voltage_and_real_time_animation.py
Due: sync, fawltydeps-src, pytest-fast-only

Lock
  lock.json
  requirements/requirements.txt
Due: sync, pytest-fast-only

Remove submodules
  .gitmodules
Due: sync

Remove type stub submodule
  .gitmodules
Due: sync

Fix submodule
  .gitmodules
Due: sync

Remove submodule properly
  .gitmodules
Due: sync

Add submodule back, bust cache properly
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .gitmodules
  pyproject.toml
Due: sync, fawltydeps-src

Updated syntax for voltage from manual 2nd attempt. Setup Co piolet and fixed missing comma. Adding other feedback after this.
  real_time_V_matrix_animation_test.py
  src/keithley_daq/real_time_V_matrix_animation test.py
Due: sync, fawltydeps-src, pytest-fast-only
